<a href="https://colab.research.google.com/github/MansourMhz/MansourMhz/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pwd

'/content'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import torch

In [3]:
pwd

'/content'

In [4]:
dataset = pd.read_csv('/content/drive/MyDrive/MasterThesis/xauusd.csv')

In [6]:
type(dataset)

pandas.core.frame.DataFrame

In [7]:
dataset.head(5)

         Date     Open     High      Low    Close
0  2016-03-01  1240.49  1248.77  1227.48  1232.66
1  2016-03-02  1231.44  1244.23  1225.02  1239.83
2  2016-03-03  1239.49  1268.55  1237.72  1264.87
3  2016-03-04  1260.20  1279.97  1250.78  1261.55
4  2016-03-07  1264.23  1273.43  1257.12  1267.54

In [8]:
dataset.shape

(1451, 5)

In [9]:
dataset.shape[0]

1451

In [10]:
dataset.shape[1]

5

In [11]:
num_train = int(dataset.shape[0]*0.70)

In [12]:
num_train

1015

In [13]:
training_set = dataset.iloc[0:num_train,1].values #open

In [14]:
training_set

array([1240.49, 1231.44, 1239.49, ..., 1593.43, 1577.24, 1552.94])

In [15]:
training_set.shape

(1015,)

In [16]:
testing_set = dataset.iloc[num_train:,1].values